{% set target = '' %}

{% if item.type == constant('App\\Entity\\Page::SECTION_TYPE') %}
    {% set url = path('app_page_section', {slug: item.slug}) %}
{% elseif item.type == constant('App\\Entity\\Page::EXTEND_TYPE') %}
    {% set url = item.slug %}
    {% set target = 'target="_blank"' %}
{% else %}
    {% set url = path('app_page_show', {slug: item.slug}) %}
{% endif %}

{% if type is defined and type == 'image' %}
<a href="{{ url }}" {{ target }} title="{{ item.name }}">
    <img class="img-fluid rounded-start" src="{{ image_public }}/{{ constant('App\\Entity\\Page::PATH')[constant('App\\Entity\\Page::SMALL_IMAGE_TYPE')] }}/{{ item.image }}" alt="{{ item.name }}">
</a>
{% elseif type is defined and type == 'breadcrumb' %}
    <li class="breadcrumb-item">
        <a href="{{ url }}" {{ target }} title="{{ item.name }}">{{ link_text is defined ? link_text : item.name }}
        </a></li>
{% elseif type is defined and type == constant('App\\Entity\\Page::MENU_TYPE_VERTICAL') %}
    <li class="nav-item">
        <a style="padding-left: {{ isTree is defined and isTree == true and item.level  > 1 ?  item.level * 15 : 0 }}px" class="nav-link" href="{{ url }}" {{ target }}
           title="{{ item.name }}">{{ link_text is defined ? link_text : item.name }}</a>
    </li>
{% elseif type is defined and type == constant('App\\Entity\\Page::MENU_TYPE_HORIZONTAL') %}
    <li class="nav-item">
        <a class="nav-link" href="{{ url }}" {{ target }}
           title="{{ item.name }}">{{ link_text is defined ? link_text : item.name }}</a>
    </li>

{% else %}
    <a href="{{ url }}" {{ target }} title="{{ item.name }}">{{  link_text is defined ? link_text : item.name }}</a>
{% endif %}