{% set target = '' %}
{% if item.type == constant('App\\Entity\\Page::SECTION_TYPE') %}
    {% set url = path('app_page_section', {slug: item.slug}) %}
{% elseif item.type == constant('App\\Entity\\Page::EXTEND_TYPE') %}
    {% set url = item.slug %}
    {% set target = 'target="_blank"' %}
{% else %}
    {% set url = path('app_page_section', {slug: item.slug}) ~ '.html' %}
{% endif %}

{% if item.type == constant('App\\Entity\\Page::MENU_TYPE_VERTICAL') %}
    <a style="padding-left: {{ item.level > 1 ?  item.level * 3 : 0 }}" href="{{ url }}" {{ target }}
       title="{{ item.name }}">{{ item.name }}</a>
{% else %}
    <a href="{{ url }}" {{ target }} title="{{ item.name }}">{{ item.name }}</a>
{% endif %}