{% extends 'base.html.twig' %}

{% block title %}{{ page.name ?? '' }}{% endblock %}
{% block h1 %}{{ page.name ?? '' }}{% endblock %}

{% block body %}
    <div>
    {% set page = null %}
    {% for item in items %}
        {% if item.slug != constant('App\\Entity\\Page::MAIN_URL') %}
            {{ include('page/section_item.html.twig', {page: item}) }}
        {% else %}
            {% set page = item %}
        {% endif %}
    {% endfor %}

{% if page.body is defined %}
    {% if page.image is not empty %}
        <img src="{{ image_public }}/{{ constant('App\\Entity\\Page::PATH')[constant('App\\Entity\\Page::BIG_IMAGE_TYPE')] }}/{{ page.image }}" alt="{{ page.name }}">
        {{ page.body|raw }}
    {% endif %}
{% endif %}

    </div>

{% endblock %}