<div class="card mb-3">
    <div class="row g-0">
        {% if item.image is not empty %}
            <div class="col-md-4">
                {{ include ('menu/menu_link.html.twig', {item: item, type: 'image'}) }}
            </div>
        {% endif %}
        <div class=" {{ item.image is not empty ? 'col-md-8' : 'col-md-12' }}">
            <div class="card-body">
                <h5 class="card-title">  {{ include ('menu/menu_link.html.twig', {item: item }) }}</h5>
                <p class="card-text"> {{ item.preview|raw }} </p>
                <p class="card-text"><small
                            class="text-body-secondary">
                        {{ include ('menu/menu_link.html.twig', {item: item, link_text: ('More ...'|trans)}) }}
                    </small>
                </p>
            </div>
        </div>
    </div>
</div>
