{% extends 'base.html.twig' %}

{% block title %}{{ page.name }}{% endblock %}
{% block h1 %}{{ page.name }}{% endblock %}

{% block body %}
    <div class="page-show">
        {% if page.image is not empty %}
            <img src="{{ image_public }}/{{ constant('App\\Entity\\Page::PATH')[constant('App\\Entity\\Page::BIG_IMAGE_TYPE')] }}/{{ page.image }}" alt="{{ page.name }}">
            {{ page.body|raw }}
        {% endif %}
    </div>
{% endblock %}
