<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-6">
                <h5>{{ 'Menu' | trans }}</h5>
            </div>
            <div class="col-6">
                <div class="nav justify-content-end">
                    <a href="{{ path('menu_admin_new_menu') }}" class="btn btn-primary ">{{ 'New' | trans }} {{ 'Menu' | trans }}</a>
                </div>

            </div>
        </div>
    </div>
    <div class="card-body">
        <div id="menu-jstree">
           {{ render(controller('App\\Controller\\MenuAdminController::treeMenuAdmin', {request:app.request})) }}

        </div>
    </div>
</div>