{% extends 'base.html.twig' %}

{% block title %} {{ 'Feedback' | trans }} {{ 'Index' }}{% endblock %}
{% block h1 %} {{ 'Feedback' | trans }} {{ 'Index' }}{% endblock %}

{% block body %}
    <div class="count">
        {{ pagination.getTotalItemCount }}
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>{{ 'Id' | trans }}</th>
                <th>{{ 'From' | trans }}</th>
                <th>{{ 'Subject' | trans }}</th>
                <th>{{ 'CreatedAt' | trans }}</th>
                <th>{{ 'UpdatedAt' | trans }}</th>
                <th>{{ 'Status' | trans }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for feedback in pagination %}
            <tr>
                <td>{{ feedback.id }}</td>
                <td>{{ feedback.fromEmail }}</td>
                <td>{{ feedback.subject }}</td>
                <td>{{ feedback.createdAt ? feedback.createdAt|date(date_time_format) : '' }}</td>
                <td>{{ feedback.updatedAt ? feedback.updatedAt|date(date_time_format) : '' }}</td>
                <td>{{ (constant('App\\Entity\\Feedback::STATUSES')[feedback.status] ?? '') | trans }}</td>
                <td>
                    <a href="{{ path('app_feedback_admin_show', {'id': feedback.id}) }}">{{ 'Show' | trans }}</a>
                    <a href="{{ path('app_feedback_admin_edit', {'id': feedback.id}) }}">{{ 'Edit' | trans }}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">{{ include('elements/no_records_founds.html.twig') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_feedback_admin_new') }}">{{ 'Create new' | trans }}</a>

    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
