{% extends 'base.html.twig' %}

{% block title %} {{ 'Feedback' | trans }} {% endblock %}
{% block h1 %} {{ 'Feedback' | trans }} {% endblock %}

{% block body %}

    <table class="table">
        <tbody>
            <tr>
                <th>{{ 'Id' | trans }}</th>
                <td>{{ feedback.id }}</td>
            </tr>
            <tr>
                <th>{{ 'From' | trans }}</th>
                <td>{{ feedback.fromEmail }}</td>
            </tr>
            <tr>
                <th>{{ 'Subject' | trans }}</th>
                <td>{{ feedback.subject }}</td>
            </tr>
            <tr>
                <th>{{ 'CreatedAt' | trans }}</th>
                <td>{{ feedback.createdAt ? feedback.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>{{ 'Status' | trans }}</th>
                <td>{{ feedback.status }}</td>
            </tr>
            <tr>

                <td colspan="2">{{ feedback.text }}</td>
            </tr>
        </tbody>
    </table>

    {{ include('elements/form_bottom_buttons.html.twig',{

        'back_to_list_path':  path('app_feedback_admin_index'),
        'edit_path':  path('app_feedback_admin_edit', {id: feedback.id}),
        'delete_form_file_name' : 'feedback_admin/_delete_form.html.twig'
    }
    ) }}
{% endblock %}
