{{ form_start(form, {attr:{id:'page-form'}}) }}

<div class="accordion" id="accordionPageForm">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#main" aria-expanded="true" aria-controls="main">
                Main
            </button>
        </h2>
        <div id="main" class="accordion-collapse collapse show" data-bs-parent="#accordionPageForm">
            <div class="accordion-body">
                {{ form_row(form.name) }}
                {{ form_row(form.slug) }}
                {{ form_row(form.type) }}
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#text" aria-expanded="false" aria-controls="text">
                Text
            </button>
        </h2>
        <div id="text" class="accordion-collapse collapse" data-bs-parent="#accordionPageForm">
            <div class="accordion-body">
                {{ form_row(form.preview) }}
                {{ form_row(form.body) }}
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#image" aria-expanded="false" aria-controls="image">
                Image
            </button>
        </h2>
        <div id="image" class="accordion-collapse collapse" data-bs-parent="#accordionPageForm">
            <div class="accordion-body">
                {{ form_row(form.image) }}
             </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#menu" aria-expanded="false" aria-controls="menu">
                Menu
            </button>
        </h2>
        <div id="menu" class="accordion-collapse collapse" data-bs-parent="#accordionPageForm">
            <div class="accordion-body">
                {{ form_row(form.menu) }}

            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#seo" aria-expanded="false" aria-controls="seo">
                Seo
            </button>
        </h2>
        <div id="seo" class="accordion-collapse collapse" data-bs-parent="#accordionPageForm">
            <div class="accordion-body">
                {{ form_row(form.seoTitle) }}
                {{ form_row(form.seoDescription) }}
                {{ form_row(form.seoKeywords) }}
                <strong>Social networks</strong>
                <hr>
                {{ form_row(form.ogTitle) }}
                {{ form_row(form.ogDescription) }}
                {{ form_row(form.ogUrl) }}
                {{ form_row(form.ogImage) }}
                {{ form_row(form.ogType) }}
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#public" aria-expanded="false" aria-controls="public">
                Public
            </button>
        </h2>
        <div id="public" class="accordion-collapse collapse" data-bs-parent="#accordionPageForm">
            <div class="accordion-body">
                {{ form_row(form.status) }}
                {{ form_row(form.isPreviewOnMain) }}
                {{ form_row(form.position) }}
            </div>
        </div>
    </div>
</div>
{{ form_end(form) }}
