{% extends 'base.html.twig' %}

{% block title %}Page index{% endblock %}

{% block body %}
    <h1>Page index</h1>
    <hr>
    <div class="row">
        <div class="col-6">
            <div class="count">
              Total:  {{ pagination.getTotalItemCount }}
            </div>
        </div>
        <div class="col-6 text-end">
            <a class="btn btn-primary" href="{{ path('app_page_new') }}">Create new</a>
        </div>
    </div>


    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>{{ knp_pagination_sortable(pagination, 'Name', 'p.name') }}</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for page in pagination %}
            <tr>
                <td>{{ page.id }}</td>
                <td>{{ page.name }}</td>
                <td class="text-center">{{ constant('App\\Entity\\Page::STATUSES')[page.status] ?? '' }}</td>
                <td class="text-end">
                    <a href="{{ path('app_page_show', {'slug': page.slug}) }}">show</a>
                    <a href="{{ path('app_page_edit', {'id': page.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">{{ include('elements/no_records_founds.html.twig') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>



    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
