<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-2">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Logo</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                {{ render(controller('App\\Controller\\PageController::menu', {
                    type: constant('App\\Entity\\Page::MENU_TYPE_HORIZONTAL')
                })) }}

            </ul>
            <ul class="navbar-nav ms-auto">

                {% if app.user is not null %}
                    <li class="nav-item">
                        <a class="nav-link " href="{{ path('app_user_profile', {id: app.user.id}) }}">Profile: {{ app.user.email}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_logout') }}">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_login') }}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_register') }}">Registration</a>
                    </li>
                {% endif %}
            </ul>

        </div>
    </div>
</nav>