<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {{ include('elements/seo.html.twig') }}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}

    {% endblock %}
</head>
<body>

<div class="container ">
    <!-- Horizontal menu -->
    {{ render(controller('App\\Controller\\MenuController::topMenu', {activeRequest: app.request} )) }}
    <div class="row main-content">
        <!-- Vertical menu -->
        <div class="col-lg-3 bg-light">
            {{ include('menu_admin/admin_menu.html.twig') }}
            {{ render(controller('App\\Controller\\MenuController::leftMenu')) }}
        </div>

        <div class="col-lg-9">
        <div class="container-fluid">
                {% if page.name is defined %}
                    {{ render(controller('App\\Controller\\MenuController::breadcrumbs', {page: page})) }}
                {% else %}
                    {% block breadcrumb %}{% endblock %}
                {% endif %}
                <h1>{% block h1 %} {{ page.name is defined ? page.name }}{% endblock %}</h1>
                {% include 'elements/flush.html.twig' %}

                {% block body %}{% endblock %}
            </div>
        </div>
    </div>

    <!-- Футер -->
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
        </a>
        {{ render(controller('App\\Controller\\MenuController::bottomMenu')) }}

    </footer>
</div>

</body>
</html>
