<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}

        {% endblock %}
    </head>
    <body>

    <div class="container">

        <!-- Горизонтальное меню -->
        <div class="horizontal-menu">

            <a href="/">Home</a>
            {{ render(controller('App\\Controller\\PageController::menu', {
                type: constant('App\\Entity\\Page::MENU_TYPE_HORIZONTAL')
            })) }}


            <a href="#">Contacts</a>
            <div class="user-name">
                {% if app.user is not null %}
                <a href="#">{{ app.user.email}}</a>
                <a href="{{ path('app_logout') }}">Logout</a>
                {% else %}
                    <a href="{{ path('app_login') }}">Login</a>
                    <a href="{{ path('app_register') }}">Registration</a>
                {% endif %}
            </div>

        </div>


        <!-- Вертикальное древовидное меню -->
        <div class="vertical-menu">
            {% if app.user is defined and app.user.roles is defined and constant('App\\Entity\\User::ADMIN_ROLE') in app.user.roles  %}
            <h3>Admin menu</h3>
            <a href="{{ path('app_page_index') }}">Page list</a>
            {% endif %}
            <h3> Pages</h3>
            {{ render(controller('App\\Controller\\PageController::menu', {
                type: constant('App\\Entity\\Page::MENU_TYPE_VERTICAL')
            })) }}
        </div>

        <!-- Баннер -->


        <!-- Контентная часть -->
        <div class="content">
            <div class="banner centered-block">
                <h2>Здесь ваш баннер</h2>
            </div>
           <h1>{% block h1 %}{% endblock %}</h1>
            {% include 'elements/flush.html.twig' %}

            {% if page is defined %}
                {{ render(controller('App\\Controller\\PageController::breadCrumbs', {page: page})) }}
            {% endif %}
            {% block body %}{% endblock %}
        </div>

        <!-- Футер -->
        <div class="footer">
            <p>Здесь ваш футер</p>
        </div>

    </div>

    </body>
</html>
