<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {{ include('elements/seo.html.twig') }}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}

    {% endblock %}
</head>
<body>


<div class="container ">
    <!-- Horizontal menu -->
    {{ include('elements/horizontal_menu.html.twig') }}
    <div class="row main-content">
        <!-- Vertical menu -->
        {{ include('elements/vertical_menu.html.twig') }}


        <!-- Контентная часть -->
        <div class="col-lg-9">


            <div class="container-fluid">

                {% if page is defined %}
                    {{ render(controller('App\\Controller\\PageController::breadCrumbs', {page: page})) }}
                {% endif %}
                <h1>{% block h1 %}{% endblock %}</h1>
                {% include 'elements/flush.html.twig' %}

                {% block body %}{% endblock %}
            </div>
        </div>
    </div>


    <!-- Футер -->
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <p class="col-md-4 mb-0 text-body-secondary">© {{ "now"|date('Y')}} Company, Inc</p>

        <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
        </a>

        <ul class="nav col-md-4 justify-content-end">
            <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Features</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Pricing</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">FAQs</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">About</a></li>
        </ul>
    </footer>
</div>

</body>
</html>
