{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}

    <h1>User</h1>
    {{ include('user/tabs.html.twig', ({items: [
        {'route' : 'app_user_profile', 'params': {'id': user.id}, 'title': 'Default'},
        {'route' : 'app_user_profile_change_password', 'params': {'id': user.id}, 'title': 'Security'},

    ]})) }}
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>

            <tr>
                <th>IsVerified</th>
                <td>{{ user.isVerified ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

{% endblock %}
